<!DOCTYPE HTML>
<html>
<head>
    <TITLE> iLearn </TITLE>
    <link rel="stylesheet" href="css/styles.css" />

</head>
<BODY>
<nav id="nav">
    <ul>
        <li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </li>
        <li class="current"><a href="home.html">Home</a></li>
        <li><a href="forum.html">Forum</a></li>
        <li><a href="grades.html">Grades</a></li>
        <li><a href="submission.html">Submissions</a></li>
    </ul>
</nav>

</body>
</html>